.notion-light-theme,:root {
    --ca-palUiBlu50: rgba(35,131,226,.035);
    --ca-palUiBlu75: #2383e20d;
    --ca-palUiBlu100: #2383e212;
    --ca-palUiBlu200: #2383e224;
    --ca-palUiBlu300: #2383e236;
    --ca-palUiBlu400: #2383e259;
    --ca-palUiBlu500: #2383e291;
    --c-palUiBlu600: #2383e2;
    --c-palUiBlu700: #105fad;
    --cl-palPin30: #e793bc12;
    --cd-palPin50: #fcf1f6;
    --cl-palPin100: #e188b345;
    --ca-palPin200: #cc5c9266;
    --cl-palPin300: #d15b94a6;
    --ca-palPin400: #c4548ad1;
    --cd-palPin500: #c14c8a;
    --cd-palPin600: #a2336f;
    --cd-palPin700: #6f3151;
    --c-palPin800: #4c2337;
    --c-palPin900: #2c1420;
    --cl-palPur30: #ceafe512;
    --cd-palPur50: #f8f3fc;
    --cl-palPur100: #a881c545;
    --ca-palPur200: #8d62ae66;
    --cl-palPur300: #9a72b9a6;
    --ca-palPur400: #9467b6d1;
    --cd-palPur500: #9065b0;
    --cd-palPur600: #754d92;
    --cd-palPur700: #5a3872;
    --c-palPur800: #412454;
    --c-palPur900: #26152e;
    --cl-palGre30: #7bb78112;
    --cd-palGre50: #edf3ec;
    --cl-palGre100: #7bb78145;
    --ca-palGre200: #50906766;
    --cl-palGre300: #509067a6;
    --ca-palGre400: #42855ad1;
    --cd-palGre500: #448361;
    --cd-palGre600: #33684e;
    --cd-palGre700: #1f4f3b;
    --c-palGre800: #1c3829;
    --c-palGre900: #102416;
    --c-palGra0: #fff;
    --cl-palGra30: #5448310a;
    --c-palGra50: #f8f8f7;
    --cl-palGra75: #54483114;
    --cl-palGra90: #e3e2e0b3;
    --cl-palGra100: #54483126;
    --cl-palGra200: #51493c52;
    --cl-palGra300: #46444073;
    --cl-palGra400: #47464499;
    --c-palGra500: #73726e;
    --c-palGra600: #5f5e5b;
    --c-palGra700: #484743;
    --c-palGra800: #32302c;
    --c-palGra900: #1d1b16;
    --cl-palTraGra30: #00000003;
    --cl-palTraGra50: #0000000a;
    --ca-palTraGra75: #0000000d;
    --ca-palTraGra100: #0000000f;
    --ca-palTraGra200: #00000012;
    --ca-palTraGra300: #0000001c;
    --ca-palTraGra400: rgba(0,0,0,.155);
    --ca-palTraGra500: rgba(0,0,0,.335);
    --ca-palTraGra600: #00000075;
    --ca-palTraGra700: #0000009e;
    --ca-palTraGra800: rgba(0,0,0,.815);
    --ca-palTraGra850: #000000e3;
    --ca-palTraGra900: rgba(0,0,0,.988);
    --cl-palOra30: #e07c3912;
    --cd-palOra50: #fbecdd;
    --cl-palOra100: #e07c3945;
    --ca-palOra200: #d95f0d66;
    --cl-palOra300: #d95f0da6;
    --ca-palOra400: #d95f0dd1;
    --cd-palOra500: #d9730d;
    --cd-palOra600: #8d4e17;
    --cd-palOra700: #6a3b12;
    --c-palOra800: #49290e;
    --c-palOra900: #281809;
    --cl-palBro30: #d2a28d12;
    --cd-palBro50: #f4eeee;
    --cl-palBro100: #d2a28d59;
    --ca-palBro200: #9c4c2852;
    --cl-palBro300: #9c4c2880;
    --ca-palBro400: #9c4c28ad;
    --cd-palBro500: #9f6b53;
    --cd-palBro600: #80543f;
    --cd-palBro700: #613e2e;
    --c-palBro800: #442a1e;
    --c-palBro900: #2d1506;
    --cl-palRed30: #f3887612;
    --cd-palRed50: #fdebec;
    --cl-palRed100: #f4ab9f66;
    --ca-palRed200: #d7261552;
    --cl-palRed300: #d7261580;
    --ca-palRed400: #d72615ad;
    --cd-palRed500: #cd3c3a;
    --cd-palRed600: #ae2f2e;
    --cd-palRed700: #862120;
    --c-palRed800: #5d1715;
    --c-palRed900: #30130f;
    --cl-palYel30: #d7b11812;
    --cd-palYel50: #fbf3db;
    --cl-palYel100: #ecbf4263;
    --ca-palYel200: #e5af198c;
    --cl-palYel300: #d79609bf;
    --ca-palYel400: #c07d00d1;
    --cd-palYel500: #cb912f;
    --cd-palYel600: #835e33;
    --cd-palYel700: #5f4023;
    --c-palYel800: #402c1b;
    --c-palYel900: #251910;
    --cl-palBlu30: #5ba6d112;
    --cd-palBlu50: #e7f3f8;
    --cl-palBlu100: #5da5ce45;
    --ca-palBlu200: #3987b866;
    --cl-palBlu300: #3f89b8a6;
    --ca-palBlu400: #3681b1d1;
    --cd-palBlu500: #337ea9;
    --cd-palBlu600: #2d6387;
    --cd-palBlu700: #1f4a68;
    --c-palBlu800: #183347;
    --c-palBlu900: #0c1d2b;
    --ca-palPagGla0: #fffc;
    --ca-palWasGla0: #f9f9f8cc;
    --c-bluTexPri: #264a72;
    --c-bluTexSec: #387dc9;
    --c-bluTexTer: #83abe1;
    --c-bluTexDis: #b6d4f3;
    --c-bluTexAccPri: #2783de;
    --c-bluTexInvPri: #f3f9fd;
    --c-bluTexInvSec: #b6d4f3;
    --ca-bluTexDisTra: rgba(0,112,219,.286);
    --ca-bluBacPriTra: rgba(0,128,213,.047);
    --ca-bluBacSecTra: rgba(0,124,215,.094);
    --ca-bluBacTerTra: rgba(0,118,217,.203);
    --c-bluBacPri: #f3f9fd;
    --c-bluBacSec: #e5f2fc;
    --c-bluBacTer: #cee3f7;
    --c-bluBacEle: #fff;
    --c-bluBacAccPri: #2783de;
    --c-bluBacAccSec: #5e9fe8;
    --ca-bluBorPriTra: rgba(0,112,219,.286);
    --ca-bluBorSecTra: rgba(0,124,215,.094);
    --c-bluBorPri: #cee3f7;
    --c-bluBorSec: #e5f2fc;
    --c-bluBorInvPri: #355f8b;
    --c-bluBorAccPri: #2783de;
    --c-bluBorStr: #b6d4f3;
    --c-bluIcoPri: #264a72;
    --c-bluIcoSec: #387dc9;
    --c-bluIcoTer: #83abe1;
    --c-bluIcoDis: #b6d4f3;
    --c-bluIcoAccPri: #2783de;
    --c-bluIcoInvPri: #f3f9fd;
    --c-bluIcoInvSec: #b6d4f3;
    --c-redTexPri: #6d3531;
    --c-redTexSec: #cf5148;
    --c-redTexTer: #d0988d;
    --c-redTexDis: #f0c5be;
    --c-redTexAccPri: #e56458;
    --c-redTexInvPri: #fdf6f6;
    --c-redTexInvSec: #f0c5be;
    --ca-redTexDisTra: rgba(196,27,0,.254);
    --ca-redBacPriTra: rgba(199,3,3,.035);
    --ca-redBacSecTra: rgba(223,22,0,.094);
    --ca-redBacTerTra: rgba(206,24,0,.164);
    --c-redBacPri: #fdf6f6;
    --c-redBacSec: #fce9e7;
    --c-redBacTer: #f7d9d5;
    --c-redBacEle: #fff;
    --c-redBacAccPri: #e56458;
    --c-redBacAccSec: #e97366;
    --ca-redBorPriTra: rgba(196,27,0,.254);
    --ca-redBorSecTra: rgba(223,22,0,.094);
    --c-redBorPri: #f7d9d5;
    --c-redBorSec: #fce9e7;
    --c-redBorInvPri: #924943;
    --c-redBorAccPri: #e56458;
    --c-redBorStr: #f0c5be;
    --c-redIcoPri: #6d3531;
    --c-redIcoSec: #cf5148;
    --c-redIcoTer: #d0988d;
    --c-redIcoDis: #f0c5be;
    --c-redIcoAccPri: #e56458;
    --c-redIcoInvPri: #fdf6f6;
    --c-redIcoInvSec: #f0c5be;
    --c-yelTexPri: #655121;
    --c-yelTexSec: #cb9434;
    --c-yelTexTer: #d8c283;
    --c-yelTexDis: #e8d497;
    --c-yelTexAccPri: #d8a32f;
    --c-yelTexInvPri: #fcfaef;
    --c-yelTexInvSec: #e8d497;
    --ca-yelTexDisTra: rgba(199,150,0,.407);
    --ca-yelBacPriTra: rgba(207,175,0,.062);
    --ca-yelBacSecTra: rgba(211,168,0,.137);
    --ca-yelBacTerTra: rgba(209,156,0,.282);
    --c-yelBacPri: #fcfaef;
    --c-yelBacSec: #f9f3dc;
    --c-yelBacTer: #f2e3b7;
    --c-yelBacEle: #fff;
    --c-yelBacAccPri: #d8a32f;
    --c-yelBacAccSec: #eac26b;
    --ca-yelBorPriTra: rgba(199,150,0,.407);
    --ca-yelBorSecTra: rgba(211,168,0,.137);
    --c-yelBorPri: #f2e3b7;
    --c-yelBorSec: #f9f3dc;
    --c-yelBorInvPri: #836426;
    --c-yelBorAccPri: #d8a32f;
    --c-yelBorStr: #e8d497;
    --c-yelIcoPri: #655121;
    --c-yelIcoSec: #cb9434;
    --c-yelIcoTer: #d8c283;
    --c-yelIcoDis: #e8d497;
    --c-yelIcoAccPri: #d8a32f;
    --c-yelIcoInvPri: #fcfaef;
    --c-yelIcoInvSec: #e8d497;
    --c-graTexPri: #494846;
    --c-graTexSec: #7d7a75;
    --c-graTexTer: #ada9a3;
    --c-graTexDis: #d4d3cf;
    --c-graTexAccPri: #8e8b86;
    --ca-graTexDisTra: rgba(27,21,0,.188);
    --c-graTexInvPri: #f9f8f7;
    --c-graTexInvSec: #d4d3cf;
    --ca-graBacPriTra: rgba(66,35,3,.031);
    --ca-graBacSecTra: #2a1c0012;
    --ca-graBacTerTra: #1c13011c;
    --c-graBacPri: #f9f8f7;
    --c-graBacSec: #f0efed;
    --c-graBacTer: #e6e5e3;
    --c-graBacEle: #fff;
    --c-graBacAccPri: #8e8b86;
    --c-graBacAccSec: #a19e99;
    --ca-graBorPriTra: #1c13011c;
    --ca-graBorSecTra: #2a1c0012;
    --c-graBorPri: #e6e5e3;
    --c-graBorSec: #f0efed;
    --c-graBorInvPri: #5f5e59;
    --c-graBorAccPri: #8e8b86;
    --c-graBorStr: #d4d3cf;
    --c-graIcoPri: #494846;
    --c-graIcoSec: #7d7a75;
    --c-graIcoTer: #ada9a3;
    --c-graIcoDis: #d4d3cf;
    --c-graIcoAccPri: #8e8b86;
    --c-graIcoInvPri: #f9f8f7;
    --c-graIcoInvSec: #d4d3cf;
    --ca-oraTexDisTra: rgba(186,86,0,.302);
    --c-oraTexPri: #6a4222;
    --c-oraTexSec: #d27b2d;
    --c-oraTexTer: #cba27d;
    --c-oraTexDis: #eaccb2;
    --c-oraTexAccPri: #d5803b;
    --c-oraTexInvPri: #fcf7f4;
    --c-oraTexInvSec: #eaccb2;
    --ca-oraBacPriTra: rgba(186,72,3,.043);
    --ca-oraBacSecTra: rgba(224,101,1,.129);
    --ca-oraBacTerTra: rgba(196,88,0,.203);
    --c-oraBacPri: #fcf7f4;
    --c-oraBacSec: #fbebde;
    --c-oraBacTer: #f3ddcb;
    --c-oraBacEle: #fff;
    --c-oraBacAccPri: #d5803b;
    --c-oraBacAccSec: #de9255;
    --ca-oraBorPriTra: rgba(186,86,0,.302);
    --ca-oraBorSecTra: rgba(224,101,1,.129);
    --c-oraBorPri: #f3ddcb;
    --c-oraBorSec: #fbebde;
    --c-oraBorInvPri: #88522f;
    --c-oraBorAccPri: #d5803b;
    --c-oraBorStr: #eaccb2;
    --c-oraIcoPri: #6a4222;
    --c-oraIcoSec: #d27b2d;
    --c-oraIcoTer: #cba27d;
    --c-oraIcoDis: #eaccb2;
    --c-oraIcoAccPri: #d5803b;
    --c-oraIcoInvPri: #fcf7f4;
    --c-oraIcoInvSec: #eaccb2;
    --ca-pinTexDisTra: rgba(164,0,73,.231);
    --c-pinTexPri: #68354e;
    --c-pinTexSec: #c14c8a;
    --c-pinTexTer: #c897ad;
    --c-pinTexDis: #eac4d5;
    --c-pinTexAccPri: #db6999;
    --c-pinTexInvPri: #fcf7f9;
    --c-pinTexInvSec: #eac4d5;
    --ca-pinBacPriTra: rgba(161,3,66,.031);
    --ca-pinBacSecTra: rgba(197,0,93,.086);
    --ca-pinBacTerTra: rgba(183,0,78,.152);
    --c-pinBacPri: #fcf7f9;
    --c-pinBacSec: #fae9f1;
    --c-pinBacTer: #f4d8e4;
    --c-pinBacEle: #fff;
    --c-pinBacAccPri: #db6999;
    --c-pinBacAccSec: #df84a8;
    --ca-pinBorPriTra: rgba(164,0,73,.231);
    --ca-pinBorSecTra: rgba(197,0,93,.086);
    --c-pinBorPri: #f4d8e4;
    --c-pinBorSec: #fae9f1;
    --c-pinBorInvPri: #7b4760;
    --c-pinBorAccPri: #db6999;
    --c-pinBorStr: #eac4d5;
    --c-pinIcoPri: #68354e;
    --c-pinIcoSec: #c14c8a;
    --c-pinIcoTer: #c897ad;
    --c-pinIcoDis: #eac4d5;
    --c-pinIcoAccPri: #db6999;
    --c-pinIcoInvPri: #fcf7f9;
    --c-pinIcoInvSec: #eac4d5;
    --ca-teaTexDisTra: rgba(0,139,168,.309);
    --c-teaTexPri: #18505b;
    --c-teaTexSec: #2c8b9e;
    --c-teaTexTer: #7eb6c2;
    --c-teaTexDis: #b0dbe4;
    --c-teaTexAccPri: #37a4b4;
    --c-teaTexInvPri: #f3fafb;
    --c-teaTexInvSec: #b0dbe4;
    --ca-teaBacPriTra: rgba(3,150,171,.047);
    --ca-teaBacSecTra: rgba(1,157,189,.122);
    --ca-teaBacTerTra: rgba(0,149,183,.207);
    --c-teaBacPri: #f3fafb;
    --c-teaBacSec: #e0f3f7;
    --c-teaBacTer: #cae9f0;
    --c-teaBacEle: #fff;
    --c-teaBacAccPri: #37a4b4;
    --c-teaBacAccSec: #4fb9c9;
    --ca-teaBorPriTra: rgba(0,139,168,.309);
    --ca-teaBorSecTra: rgba(1,157,189,.122);
    --c-teaBorPri: #cae9f0;
    --c-teaBorSec: #e0f3f7;
    --c-teaBorInvPri: #226471;
    --c-teaBorAccPri: #37a4b4;
    --c-teaBorStr: #b0dbe4;
    --c-teaIcoPri: #18505b;
    --c-teaIcoSec: #2c8b9e;
    --c-teaIcoTer: #7eb6c2;
    --c-teaIcoDis: #b0dbe4;
    --c-teaIcoAccPri: #37a4b4;
    --c-teaIcoInvPri: #f3fafb;
    --c-teaIcoInvSec: #b0dbe4;
    --ca-purTexDisTra: rgba(88,1,149,.216);
    --c-purTexPri: #553b69;
    --c-purTexSec: #9a6bb4;
    --c-purTexTer: #b49cc6;
    --c-purTexDis: #dbc8e8;
    --c-purTexAccPri: #b577d6;
    --c-purTexInvPri: #faf7fc;
    --c-purTexInvSec: #dbc8e8;
    --ca-purBacPriTra: rgba(98,3,161,.031);
    --ca-purBacSecTra: rgba(102,0,178,.078);
    --ca-purBacTerTra: rgba(92,0,163,.141);
    --c-purBacPri: #faf7fc;
    --c-purBacSec: #f3ebf9;
    --c-purBacTer: #e8dbf2;
    --c-purBacEle: #fff;
    --c-purBacAccPri: #b577d6;
    --c-purBacAccSec: #bf8eda;
    --ca-purBorPriTra: rgba(88,1,149,.216);
    --ca-purBorSecTra: rgba(102,0,178,.078);
    --c-purBorPri: #e8dbf2;
    --c-purBorSec: #f3ebf9;
    --c-purBorInvPri: #674d7b;
    --c-purBorAccPri: #b577d6;
    --c-purBorStr: #dbc8e8;
    --c-purIcoPri: #553b69;
    --c-purIcoSec: #9a6bb4;
    --c-purIcoTer: #b49cc6;
    --c-purIcoDis: #dbc8e8;
    --c-purIcoAccPri: #b577d6;
    --c-purIcoInvPri: #faf7fc;
    --c-purIcoInvSec: #dbc8e8;
    --ca-greTexDisTra: rgba(0,106,43,.254);
    --c-greTexPri: #2a533c;
    --c-greTexSec: #50946e;
    --c-greTexTer: #8bb79d;
    --c-greTexDis: #bed9c9;
    --c-greTexAccPri: #46a171;
    --c-greTexInvPri: #f6f9f7;
    --c-greTexInvSec: #bed9c9;
    --ca-greBacPriTra: rgba(3,87,31,.035);
    --ca-greBacSecTra: #00642d17;
    --ca-greBacTerTra: rgba(0,96,38,.156);
    --c-greBacPri: #f6f9f7;
    --c-greBacSec: #e8f1ec;
    --c-greBacTer: #d7e6dd;
    --c-greBacEle: #fff;
    --c-greBacAccPri: #46a171;
    --c-greBacAccSec: #72bc8f;
    --ca-greBorPriTra: rgba(0,106,43,.254);
    --ca-greBorSecTra: #00642d17;
    --c-greBorPri: #d7e6dd;
    --c-greBorSec: #e8f1ec;
    --c-greBorInvPri: #37674c;
    --c-greBorAccPri: #46a171;
    --c-greBorStr: #bed9c9;
    --c-greIcoPri: #2a533c;
    --c-greIcoSec: #50946e;
    --c-greIcoTer: #8bb79d;
    --c-greIcoDis: #bed9c9;
    --c-greIcoAccPri: #46a171;
    --c-greIcoInvPri: #f6f9f7;
    --c-greIcoInvSec: #bed9c9;
    --ca-broTexDisTra: rgba(129,52,0,.246);
    --c-broTexPri: #584437;
    --c-broTexSec: #9f765a;
    --c-broTexTer: #bca290;
    --c-broTexDis: #e0cdc0;
    --c-broTexAccPri: #b68965;
    --c-broTexInvPri: #faf8f6;
    --c-broTexInvSec: #e0cdc0;
    --ca-broBacPriTra: rgba(115,59,3,.035);
    --ca-broBacSecTra: rgba(139,46,0,.086);
    --ca-broBacTerTra: rgba(127,51,0,.156);
    --c-broBacPri: #faf8f6;
    --c-broBacSec: #f5ede9;
    --c-broBacTer: #ebdfd7;
    --c-broBacEle: #fff;
    --c-broBacAccPri: #b68965;
    --c-broBacAccSec: #bd9576;
    --ca-broBorPriTra: rgba(129,52,0,.246);
    --ca-broBorSecTra: rgba(139,46,0,.086);
    --c-broBorPri: #ebdfd7;
    --c-broBorSec: #f5ede9;
    --c-broBorInvPri: #6d5340;
    --c-broBorAccPri: #b68965;
    --c-broBorStr: #e0cdc0;
    --c-broIcoPri: #584437;
    --c-broIcoSec: #9f765a;
    --c-broIcoTer: #bca290;
    --c-broIcoDis: #e0cdc0;
    --c-broIcoAccPri: #b68965;
    --c-broIcoInvPri: #faf8f6;
    --c-broIcoInvSec: #e0cdc0;
    --c-texPri: #2c2c2b;
    --c-texSec: #7d7a75;
    --c-texTer: #a19e99;
    --c-texDis: #d4d3cf;
    --c-texAccPri: #8e8b86;
    --c-texInvPri: #f0efed;
    --c-texInvSec: #ada9a3;
    --ca-texDisTra: rgba(27,21,0,.188);
    --c-icoPri: #30302e;
    --c-icoSec: #8e8b86;
    --c-icoTer: #ada9a3;
    --c-icoDis: #d4d3cf;
    --c-icoAccPri: #7d7a75;
    --c-icoInvPri: #f0efed;
    --c-icoInvSec: #ada9a3;
    --c-borPri: #e6e5e3;
    --c-borSec: #f0efed;
    --c-borInvPri: #5f5e59;
    --c-borAccPri: #8e8b86;
    --c-borStr: #d4d3cf;
    --ca-borPriTra: #1c13011c;
    --ca-borSecTra: #2a1c0012;
    --c-bacPri: #fff;
    --c-bacSec: #f9f8f7;
    --c-bacTer: #f0efed;
    --c-bacEle: #fff;
    --c-bacAccPri: #2c2c2b;
    --c-bacAccSec: #a19e99;
    --ca-bacSecTra: rgba(66,35,3,.031);
    --cd-bacEleTra: #fff;
    --ca-bacTerTra: #2a1c0012;
    --c-priBla: #000;
    --ca-darTexCol: #37352fcc;
    --cl-pagTitPlaTexCol: #37352f26;
    --ca-ligDivCol: #37352f0f;
    --ca-regDivCol: #37352f17;
    --ca-darDivCol: #37352f29;
    --cl-chaLegIteHidCol: #54483126;
    --cl-chaInaLegNavCol: #54483126;
    --ca-chaRowRigCol: #46444073;
    --c-tabDivCol: #e9e9e7;
    --ca-tabHomDivCol: #37352f26;
    --c-tabFroFilDivCol: #d5d4d2;
    --c-tabFroSelDivCol: #cad4e1;
    --c-tabLigDivCol: #eeeeed;
    --ca-larPopBor: #37352f1a;
    --ca-larShiCol: #37352f0a;
    --cl-linDecCol: #37352f40;
    --ca-opaLinDecCol: #37352f66;
    --c-regEmoCol: #000;
    --c-sidTexCol: #5f5e5b;
    --c-sidSecCol: #91918e;
    --ca-sidIteSelBac: #00000008;
    --ca-sidSecBac: rgba(0,0,0,.025);
    --ca-conBacTra: #fff0;
    --ca-carConBacTra: #fff0;
    --ca-oveSmo: #0f0f0f99;
    --c-calIteBac: #fff;
    --cl-calIteHovBac: #54483114;
    --c-popBac: #fff;
    --ca-popWaxPapBac: #ffffffe6;
    --cd-boaIteDefBac: #fff;
    --cd-colGalPreCarBac: #fff;
    --ca-colGalPreCarCov: rgba(55,53,47,.025);
    --cl-colUnsDepArr: #51493c52;
    --ca-colValDepArr: #d79609bf;
    --ca-modUndBac: #0f0f0f99;
    --ca-altTexPopBac: #fffffff7;
    --ca-filGroBac: #00000005;
    --c-beiBanBac: #fbf8f3;
    --c-darBanBac: #eae9e7;
    --c-keyDonBarBac: #f0f1f2;
    --c-keyActBarBac: #fff;
    --ca-UIUseAvaInnOut: #ffffff4d;
    --c-UIUseAvaSelBor: #73726e;
    --c-UIUseAvaIdlOut: #f1f1ef;
    --cl-susUIUseAvaBac: #54483114;
    --cl-selBorUns: #54483126;
    --cd-codBloBac: #f7f6f3;
    --c-codStiBloBac: #f7f6f3;
    --c-codBloButBac: #eae9e5;
    --cd-tabHeaRowColBac: #f7f6f3;
    --cd-embPlaBac: #f2f1ee;
    --ca-defBadBac: #cecdca80;
    --ca-inpBac: #f2f1ee99;
    --ca-tokInpMenIteBac: #f2f1ee99;
    --cl-hovDisBac: #37352f08;
    --c-hovMarDisBac: #f9f9f8;
    --c-selMarDisBac: #fff;
    --cl-focDisBac: rgba(255,212,0,.065);
    --ca-focDisInpBac: #37352f0f;
    --ca-filPilBac: #2383e208;
    --ca-filPilBor: #2383e259;
    --ca-butHovBac: #37352f0f;
    --ca-tabRowHovBac: rgba(55,53,47,.025);
    --ca-outButHovBac: #37352f0f;
    --cl-outButPreBac: #37352f29;
    --ca-butPreBac: #37352f29;
    --ca-butPreBacLig: #37352f1a;
    --cl-carBac: #37352f08;
    --cl-carHovBac: #37352f0a;
    --cl-carPreBac: #37352f0f;
    --cd-bluButBac: #2383e2;
    --c-bluButHovBac: #0077d4;
    --c-bluButPreBac: #006bc7;
    --c-whi: #fff;
    --c-whiButBac: #fff;
    --c-assCorButBac: #fff;
    --c-assCorButBacHov: #efefee;
    --c-assCorButBacPre: #dfdfde;
    --ca-assTinActButBac: #0000000a;
    --ca-assTinActButBacHov: #0000000f;
    --ca-assTinActButBacPre: #00000012;
    --cd-redButBac: #eb5757;
    --cd-redButHovBac: #dc494c;
    --cd-redButPreBac: #cd3b41;
    --c-graButBac: #a5a5a5;
    --c-graButHovBac: #989898;
    --c-graButPreBac: #8c8c8c;
    --ca-ligGraButBac: #54483114;
    --ca-ligGraButHovBac: #e3e2e0b3;
    --ca-ligGraButPreBac: #54483126;
    --c-butGroBac: #fff;
    --c-cheBac: #2383e2;
    --c-cheHovBac: #197fdd;
    --c-chePreBac: #0a7bd9;
    --ca-uncCheHovBac: #0000000a;
    --ca-uncChePreBac: #0000001a;
    --c-whiButHovBac: #efefee;
    --c-whiButPreBac: #dfdfde;
    --ca-outBluButHovBac: #2383e212;
    --ca-outBluButPreBac: #2383e224;
    --ca-outRedButBor: #eb575780;
    --ca-outSecButHovBac: #eb57571a;
    --ca-outSecButPreBac: #eb575733;
    --ca-outButBor: #37352f29;
    --ca-filGroBor: #37352f1a;
    --ca-radButBor: #0003;
    --c-timBac: #fdfdfd;
    --c-peeTimBac: #fdfdfd;
    --cd-timDarBac: #f7f7f7;
    --cd-timRed: #d34f43;
    --c-topFav: #f6c050;
    --cd-calTodBac: #eb5757;
    --cl-homEmpStaPreJoiButBac: #5448310a;
    --cl-homEmpStaPreCalInd: #54483114;
    --cl-homEmpStaPreVerDiv: #54483114;
    --c-homScrButBacBas: #fff;
    --cl-homScrButBacPre: #54483114;
    --ca-homTilBac: #ffffffe6;
    --ca-homCarCovPhoBas: #5448310a;
    --cd-homCarBacBas: #fff;
    --cd-homCarBacHov: #fff;
    --ca-homCarBacPre: #54483114;
    --cd-homCarTemCarBacBas: #fff;
    --cd-homCarTemCarBacHov: #fff;
    --ca-homCarTemCarBacPre: rgba(0,0,0,.025);
    --cl-perHomBacPho: #5448310a;
    --cd-impOptButBac: #fff;
    --c-impOptIcoWraBac: #fbfbfa;
    --c-sitPagPreWinChrBar: #f5f5f5;
    --c-seoPreTit: #1d13a3;
    --c-sitBuiBac: #fcfcfc;
    --cl-sitInsSte: #54483114;
    --cl-selLigGra30: #f9f9f580;
    --cl-selLigGra50: #f1f1ef80;
    --cl-selLigGra100: #e3e2e080;
    --cl-selLigGra200: #c7c6c480;
    --cl-selLigGra300: #acaba980;
    --cl-selLigGra400: #91918e80;
    --cl-selLigGra500: #78777480;
    --cl-selLigGra700: #48474380;
    --ca-legDefSelCol: #cecdca80;
    --ca-legRedSelCol: #ff001a33;
    --ca-equTemPlaBac: #2383e224;
    --c-simTabSelBor: #2383e2;
    --c-onbBac: #f7f6f3;
    --c-onbPreBac: #f7f7f5;
    --cd-errTex: #eb5757;
    --cd-ligErrTex: #f28d8d;
    --cl-aiPurCol: #9467b6d1;
    --c-staTokBacGre: #0096580f;
    --c-staTokBacYel: #eac56740;
    --c-staTokBacRed: #d34f431a;
    --c-staTokIndGre: #009658;
    --c-staTokIndYel: #eac567;
    --c-staTokIndRed: #d34f43;
    --ca-finHigMatSelBac: #ffcd38e6;
    --cl-finHigMatUnsBac: #ffcd3866;
    --c-staTokTexGre: #2d7650;
    --c-staTokTexYel: #ca8e1b;
    --c-staTokTexRed: #be4135;
    --ca-marStaDef: #ffb1104d;
    --c-marStaSel: #ffb110;
    --ca-pilBacYel: #d7b11812;
    --ca-pilBacBlu: rgba(35,131,226,.035);
    --ca-pilBacRed: #f3887612;
    --cl-pilBacWhi: #5448310a;
    --cd-pilBorYel: #fbf3db;
    --ca-pilBorBlu: #2383e212;
    --c-pilBorRed: #fdebec;
    --ca-pilBorWhi: #54483114;
    --c-pilIcoYel: #ffb110;
    --c-pilIcoBlu: #2383e2;
    --c-pilIcoRed: #cd3c3a;
    --cl-pilIcoWhi: #47464499;
    --ca-pilOutYel: #ecbf4263;
    --ca-pilOutBlu: #2383e224;
    --ca-pilOutRed: #f4ab9f66;
    --cl-pilOutWhi: #54483114;
    --c-pilHovBacYel: #fbf3db;
    --ca-pilHovBacBlu: #2383e224;
    --c-pilHovBacRed: #fdebec;
    --ca-pilHovBacWhi: #0000001a;
    --cl-pilHovBorYel: #ecbf4263;
    --ca-pilHovBorBlu: #2383e212;
    --ca-pilHovBorRed: #f4ab9f66;
    --ca-pilHovBorWhi: #54483126;
    --cd-pilHovTexYel: #402c1b;
    --c-pilHovTexBlu: #2383e2;
    --c-pilHovTexRed: #cd3c3a;
    --c-pilHovTexWhi: #73726e;
    --ca-pilPreBacYel: #ecbf4263;
    --ca-pilPreBacBlu: #2383e236;
    --ca-pilPreBacRed: #f4ab9f66;
    --ca-pilPreBacWhi: #0003;
    --cl-pilPreBorYel: #ecbf4263;
    --ca-pilPreBorBlu: #2383e212;
    --cl-pilPreBorRed: #f4ab9f66;
    --ca-pilPreBorWhi: #51493c52;
    --cd-pilSelBacYel: #fbf3db;
    --cl-pilSelBacBlu: #2383e212;
    --c-pilSelBacRed: #fdebec;
    --cl-pilSelBacWhi: #54483114;
    --ca-pilSelBorYel: #ffb11080;
    --cl-pilSelBorBlu: #2383e259;
    --ca-pilSelBorRed: #d7261580;
    --ca-pilSelBorWhi: #47464499;
    --cl-pilSelHovBacYel: #ecbf4263;
    --ca-pilSelHovBacBlu: #2383e224;
    --ca-pilSelHovBacRed: #f4ab9f66;
    --ca-pilSelHovBacWhi: #54483126;
    --ca-pilSelHovBorYel: #ffb11080;
    --cl-pilSelHovBorBlu: #2383e259;
    --ca-pilSelHovBorRed: #d7261580;
    --ca-pilSelHovBorWhi: #47464499;
    --c-pilSelPreBacYel: #fce2ab;
    --ca-pilSelPreBacBlu: #2383e236;
    --cl-pilSelPreBacRed: #d7261552;
    --ca-pilSelPreBacWhi: #51493c52;
    --ca-pilSelPreBorYel: #ffb11080;
    --cl-pilSelPreBorBlu: #2383e259;
    --ca-pilSelPreBorRed: #d7261580;
    --ca-pilSelPreBorWhi: #47464499;
    --c-marTopTexHovRed: #f64932;
    --c-marTopTexHovYel: #ffb110;
    --c-marTopTexHovBlu: #2383e2;
    --cl-marTopTexHovWhi: #000000a6;
    --c-marTopTexPreRed: #ba1d08;
    --c-marTopTexPreYel: #db9400;
    --c-marTopTexPreBlu: #1761ab;
    --c-marTopTexPreWhi: #000;
    --c-marTopTexDroVieAllRed: #cd3c3a;
    --c-marTopTexDroVieAllYel: #d99e35;
    --c-marTopTexDroVieAllBlu: #2383e2;
    --c-marTopTexDroVieAllWhi: #000;
    --cl-marEdiIllRed: #0000;
    --cl-marEdiIllYel: #0000;
    --cl-marEdiIllBlu: #0000;
    --cl-marEdiIllWhi: #0000;
    --c-marEdiIcoRed: #f64932;
    --c-marEdiIcoYel: #ffb110;
    --c-marEdiIcoBlu: #2383e2;
    --cl-marEdiIcoWhi: #47464499;
    --cd-marEdiBorRed: #fdebec;
    --cd-marEdiBorYel: #fbf3db;
    --cd-marEdiBorBlu: #f0f6fd;
    --ca-marEdiBorWhi: rgba(0,0,0,.025);
    --ca-marEdiBorHovRed: #f4ab9f66;
    --ca-marEdiBorHovYel: #ecbf4263;
    --cd-marEdiBorHovBlu: #e0eefb;
    --ca-marEdiBorHovWhi: #0000000d;
    --ca-marEdiBorPreRed: #0000;
    --ca-marEdiBorPreYel: #0000;
    --ca-marEdiBorPreBlu: #0000;
    --ca-marEdiBorPreWhi: #0000;
    --ca-marEdiBacRed: #f3887612;
    --ca-marEdiBacYel: #d7b11812;
    --ca-marEdiBacBlu: rgba(35,131,226,.035);
    --ca-marEdiBacWhi: #5448310a;
    --c-marEdiBacHovRed: #fdebec;
    --c-marEdiBacHovYel: #fbf3db;
    --cd-marEdiBacHovBlu: #f0f6fd;
    --ca-marEdiBacHovWhi: #00000014;
    --cl-marEdiBacPreRed: #f4ab9f66;
    --cl-marEdiBacPreYel: #ecbf4263;
    --cd-marEdiBacPreBlu: #d1e5f9;
    --ca-marEdiBacPreWhi: #54483126;
    --c-creProInRevTex: #f97b2d;
    --c-creProInRevHovTex: #c76224;
    --c-creProInRevBac: #fde6d9;
    --cd-zipImpBor: #2383e2;
    --cd-zipImpBac: #f0f6fd;
    --c-shaCol: #0f0f0f;
    --c-botActBarSha: 0 -1px 0 1px #0f0f0f0d,0 -3px 6px #0f0f0f1a;
    --c-butBoxSha: inset 0 0 0 1px #0f0f0f1a,0 1px 2px #0f0f0f1a;
    --c-conBubSha: 0 0 0 1.5px #0f0f0f0a;
    --c-timTabBoxSha: 0 0 8px 0 #0f0f0f08;
    --c-eleButBoxSha: inset 0 0 0 1px #0f0f0f26,0 2px 4px #0f0f0f12;
    --c-avaBoxSha: 0 2px 4px #0f0f0f1a;
    --c-butBluFocRin: 0px 0px 0px 2px #f8f8f7,0px 0px 0px 4px #2383e2,0px 0px 0px 6px #ffffff40;
    --cd-inpBoxSha: 0 0 0 1px #0f0f0f1a;
    --c-inpRedFocRin: 0px 0px 0px 1px #cd3c3a inset,0px 0px 0px 1px #cd3c3a;
    --c-inpBluFocRin: 0px 0px 0px 1px #2383e2 inset,0px 0px 0px 1px #2383e2;
    --c-colTabOutUltThiBluInpBoxSha: #2383e259 0px 0px 0px 1px inset,#2383e24d 0px 0px 0px 1.5px inset;
    --c-sidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px #0000001a;
    --c-sidBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px #eeeeec;
    --c-secSidDifSha: 0px 14px 28px -6px #0000001a,0px 2px 4px -1px #0000000f;
    --c-secSidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px #e5e5e5;
    --c-secSidBorBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px #54483114;
    --c-topAndSha: #0f0f0f1a 0px 2px 4px,#0f0f0f26 0px 2px 8px;
    --c-topAndShaCol: #0f0f0f1a 0px 1px 0px,#0000 0px 0px 0px;
    --c-homScrButSha: 0 0 0 1px #0f0f0f1a,0 2px 4px #0f0f0f1a;
    --c-homShaCarBas: 0 0 0 1px #0000000d;
    --c-homShaCarHov: 0 0 0 1px #0000001a;
    --c-homShaTemCarBas: 0 0 0 1px #0000000f;
    --c-homShaTemCarHov: 0 0 0 1px #0000001f;
    --c-froDiaSha: 0 0 0 1px #0f0f0f0d,0 5px 10px #0f0f0f1a,0 15px 40px #0f0f0f33;
    --c-focSha: #2383e291 0px 0px 0px 1px inset,#2383e259 0px 0px 0px 2px;
    --c-sha2XS: 0 0 0 1px #54483126;
    --c-shaXS: 0px 2px 4px 0 #0000000a,0 0 0 1px #54483114;
    --c-shaSM: 0px 4px 12px -2px #00000014,0 0 0 1px #54483114;
    --c-shaSMThiOut: 0px 4px 12px -2px #00000014,0 0 0 2px #54483114;
    --c-shaMD: 0px 14px 28px -6px #0000001a,0px 2px 4px -1px #0000000f,0 0 0 1px #54483114;
    --c-shaMDPriOut: 0px 14px 28px -6px #0000001a,0px 2px 4px -1px #0000000f,0 0 0 1px #1c13011c;
    --c-shaMDThiOut: 0px 14px 28px -6px #0000001a,0px 2px 4px -1px #0000000f,0 0 0 2px #54483114;
    --c-shaLG: 0px 24px 48px -8px #0000003d,0px 4px 12px -1px #0000001f,0 0 0 1px #54483114;
    --c-shaBasMd: 0px 8px 12px 0px rgba(25,25,25,.029),0px 2px 6px 0px rgba(25,25,25,.029);
    --c-shaBasLg: 0px 20px 24px 0px #1919190d,0px 5px 8px 0px rgba(25,25,25,.029);
    --c-shaBasSm: 0px 4px 12px 0px rgba(25,25,25,.029),0px 1px 2px 0px rgba(25,25,25,.019);
    --c-shaBasDif: 0px 12px 32px 0px rgba(25,25,25,.029);
    --c-shaBasScr: 0px 24px 48px 0px rgba(25,25,25,.239),0px 4px 12px 0px #19191924;
    --c-shaOutMd: 0px 8px 12px 0px rgba(25,25,25,.029),0px 2px 6px 0px rgba(25,25,25,.029),0px 0px 0px 1px #2a1c0012;
    --c-shaOutSm: 0px 2px 4px 0px rgba(0,0,0,.039),0px 0px 0px 1px #2a1c0012;
    --c-shaOutDif: 0px 12px 32px 0px rgba(25,25,25,.029),0px 0px 0px 1px #2a1c0012;
    --c-shaOutLg: 0px 20px 24px 0px #1919190d,0px 5px 8px 0px rgba(25,25,25,.029),0px 0px 0px 1px #2a1c0012;
    --c-shaOutScr: 0px 24px 48px 0px rgba(25,25,25,.239),0px 4px 12px 0px #19191924,0px 0px 0px 1px #2a1c0012;
    --ca-aiChaButUns: #0000;
    --ca-aiChaButUnsHov: #0000;
    --cd-aiChaButSel: #fff;
    --cd-aiChaButSelHov: #fff;
    --cd-aiChaButPre: #fff;
    --ca-staHov: #37352f0a;
    --ca-staPre: #37352f1a;
    --ca-glaPag: #fffc;
    --ca-glaWas: #f9f9f8cc;
    --ca-ligBluBanBac: #2383e212;
    --cl-ligGraBanBac: #5448310a;
    --ca-popOveBac: #0f0f0f99;
    --ca-forFilProUplButHovBor: #cecdca4d;
    --ca-forFilProDroBg: #cddaf8a3;
    --ca-medPicDroBg: #cddaf8a3;
    --c-froColDivShaBacFil: linear-gradient(90deg,#87837826,#8783781a,#0000);
    --c-froColDivShaBac: linear-gradient(90deg,#87837859,#87837833,#0000);
    --ca-swiButTeaBg: #8783784d;
    --ca-swiTogDesTraBg: #87837866;
    --ca-swiTogDesTraBgVar: #cecdca4d;
    --ca-embBloResInnBg: #0f0f0f99;
    --ca-seaModUniIdDivFoc: #37352f17;
    --ca-seaModUniIdDiv: #37352f0f;
    --ca-calEveHovBac: #37352f05
}

.notion-dark-theme {
    --ca-palUiBlu300: #2383e233;
    --c-palUiBlu700: #4fa7ff;
    --cd-palUiBlu150: #2383e21a;
    --cl-palPin30: #f6daf7;
    --cd-palPin50: #dc4c910f;
    --cl-palPin100: #302228;
    --ca-palPin200: #dc4c9138;
    --cl-palPin300: #4e2c3c;
    --ca-palPin400: #dc4c9166;
    --cd-palPin500: #dc4c9199;
    --cd-palPin600: #dc4c91d1;
    --cd-palPin700: #d85795e8;
    --c-palPin800: #c94b8c;
    --c-palPin900: #d15796;
    --cd-palPin75: #dc4c9117;
    --cl-palPur30: #e8def6;
    --cd-palPur50: #9b61d314;
    --cl-palPur100: #2b2431;
    --ca-palPur200: #9b61d32e;
    --cl-palPur300: #3c2d49;
    --ca-palPur400: #a85bf257;
    --cd-palPur500: #9b61d3a6;
    --cd-palPur600: #9b61d3d1;
    --cd-palPur700: #9b61d3e8;
    --c-palPur800: #9d67d2;
    --c-palPur900: #9d68d3;
    --cd-palPur75: #9b61d31a;
    --cl-palGre30: #d7e8d9;
    --cd-palGre50: #2d996414;
    --cl-palGre100: #222b26;
    --ca-palGre200: #2d996433;
    --cl-palGre300: #243d30;
    --ca-palGre400: #2d996480;
    --cd-palGre500: #2ca76aa6;
    --cd-palGre600: #2ca76ad1;
    --cd-palGre700: #2ca76ae8;
    --c-palGre800: #3c9d6a;
    --c-palGre900: #529e72;
    --cd-palGre75: #2d99641f;
    --c-palGra0: #000;
    --cl-palGra30: #151515;
    --c-palGra50: #191919;
    --cl-palGra75: #1c1c1c;
    --cl-palGra90: #1e1e1e;
    --cl-palGra100: #202020;
    --cl-palGra200: #252525;
    --cl-palGra300: #2f2f2f;
    --cl-palGra400: #373737;
    --c-palGra500: #5a5a5a;
    --c-palGra600: #7f7f7f;
    --c-palGra700: #9b9b9b;
    --c-palGra800: #d3d3d3;
    --c-palGra900: #fff;
    --c-palGra850: #e1e1e1;
    --cl-palTraGra30: #151515;
    --cl-palTraGra50: #191919;
    --ca-palTraGra75: hsla(0,0%,100%,.015);
    --ca-palTraGra100: #ffffff08;
    --ca-palTraGra200: hsla(0,0%,100%,.055);
    --ca-palTraGra300: hsla(0,0%,100%,.095);
    --ca-palTraGra400: #ffffff21;
    --ca-palTraGra500: hsla(0,0%,100%,.283);
    --ca-palTraGra600: #ffffff75;
    --ca-palTraGra700: hsla(0,0%,100%,.565);
    --ca-palTraGra800: #ffffffcf;
    --ca-palTraGra850: #ffffffde;
    --ca-palTraGra900: #fffffff5;
    --cl-palOra30: #f0e0c8;
    --cd-palOra50: #e97e280f;
    --cl-palOra100: #38281e;
    --ca-palOra200: #e97e2533;
    --cl-palOra300: #5c3b23;
    --ca-palOra400: #e97e2373;
    --cd-palOra500: #e97e2299;
    --cd-palOra600: #e97e21cc;
    --cd-palOra700: #e97e20e8;
    --c-palOra800: #e48539;
    --c-palOra900: #c77d48;
    --cd-palOra75: #e97e2726;
    --cl-palBro30: #f4f4d3;
    --cd-palBro50: #b8654814;
    --cl-palBro100: #2f2723;
    --ca-palBro200: #b8654540;
    --cl-palBro300: #4a3228;
    --ca-palBro400: #b8654373;
    --cd-palBro500: #ef997699;
    --cd-palBro600: #d18a6dbf;
    --cd-palBro700: #bb7d64e8;
    --c-palBro800: #b27e67;
    --c-palBro900: #ba856f;
    --cd-palBro75: #b8654726;
    --cl-palRed30: #fddada;
    --cd-palRed50: #de55581a;
    --cl-palRed100: #362422;
    --ca-palRed200: #de555540;
    --cl-palRed300: #522e2a;
    --ca-palRed400: #de555373;
    --cd-palRed500: #de555299;
    --cd-palRed600: #de5551cc;
    --cd-palRed700: #de5550e8;
    --c-palRed800: #de5550;
    --c-palRed900: #e65b58;
    --cd-palRed75: #de555726;
    --cl-palYel30: #f0e2cb;
    --cd-palYel50: #a269321a;
    --cl-palYel100: #392e1e;
    --ca-palYel200: #b3813d33;
    --cl-palYel300: #564328;
    --ca-palYel400: #fab14380;
    --cd-palYel500: #f0a63399;
    --cd-palYel600: #e8a225cc;
    --cd-palYel700: #dd9a22e8;
    --c-palYel800: #d99e35;
    --c-palYel900: #ca984d;
    --cd-palYel75: #98663026;
    --cl-palBlu30: #cbe6f7;
    --cd-palBlu50: #337ea914;
    --cl-palBlu100: #1d282e;
    --ca-palBlu200: #337ea933;
    --cl-palBlu300: #143a4e;
    --ca-palBlu400: #337ea980;
    --cd-palBlu500: #337ea9a6;
    --cd-palBlu600: #337ea9d1;
    --cd-palBlu700: #337ea9e8;
    --c-palBlu800: #388ebf;
    --c-palBlu900: #379ad3;
    --cd-palBlu75: #337ea91f;
    --ca-palPagGla0: #191919cc;
    --ca-palWasGla0: #202020cc;
    --c-bluTexPri: #e5f2fc;
    --c-bluTexTer: #355f8b;
    --c-bluTexDis: #233850;
    --ca-bluTexDisTra: rgba(67,155,255,.239);
    --ca-bluBacPriTra: rgba(41,139,253,.061);
    --ca-bluBacSecTra: rgba(67,155,255,.239);
    --ca-bluBacTerTra: rgba(81,166,255,.495);
    --c-bluBacPri: #1a2027;
    --c-bluBacSec: #233850;
    --c-bluBacTer: #355f8b;
    --c-bluBacEle: #213041;
    --ca-bluBorPriTra: rgba(67,155,255,.239);
    --ca-bluBorSecTra: rgba(71,157,255,.173);
    --c-bluBorPri: #233850;
    --c-bluBorSec: #213041;
    --c-bluBorStr: #355f8b;
    --c-bluIcoPri: #e5f2fc;
    --c-bluIcoSec: #83abe1;
    --c-bluIcoTer: #387dc9;
    --c-bluIcoDis: #264a72;
    --c-redTexPri: #fce9e7;
    --c-redTexTer: #924943;
    --c-redTexDis: #502c29;
    --ca-redTexDisTra: rgba(255,104,92,.239);
    --ca-redBacPriTra: hsla(0,95%,70%,.048);
    --ca-redBacSecTra: rgba(255,104,92,.239);
    --ca-redBacTerTra: hsla(4,100%,71%,.526);
    --c-redBacPri: #241d1d;
    --c-redBacSec: #502c29;
    --c-redBacTer: #924943;
    --c-redBacEle: #412725;
    --c-redBacAccSec: #e56458;
    --ca-redBorPriTra: rgba(255,104,92,.239);
    --ca-redBorSecTra: rgba(255,106,94,.173);
    --c-redBorPri: #502c29;
    --c-redBorSec: #412725;
    --c-redBorStr: #924943;
    --c-redIcoPri: #fce9e7;
    --c-redIcoSec: #d0988d;
    --c-redIcoTer: #cf5148;
    --c-redIcoDis: #6d3531;
    --c-yelTexPri: #f9f3dc;
    --c-yelTexTer: #836426;
    --c-yelTexDis: #504425;
    --ca-yelTexDisTra: rgba(255,205,75,.239);
    --ca-yelBacPriTra: rgba(255,232,48,.043);
    --ca-yelBacSecTra: rgba(255,205,75,.239);
    --ca-yelBacTerTra: #ffbc3575;
    --c-yelBacPri: #23221a;
    --c-yelBacSec: #504425;
    --c-yelBacTer: #836426;
    --c-yelBacEle: #373325;
    --ca-yelBorPriTra: rgba(255,205,75,.239);
    --ca-yelBorSecTra: #ffe17521;
    --c-yelBorPri: #504425;
    --c-yelBorSec: #373325;
    --c-yelBorStr: #836426;
    --c-yelIcoPri: #f9f3dc;
    --c-yelIcoSec: #d8c283;
    --c-yelIcoTer: #cb9434;
    --c-yelIcoDis: #655121;
    --c-yelIcoInvSec: #d8c283;
    --c-graTexPri: #f0efed;
    --c-graTexTer: #5f5e59;
    --c-graTexDis: #494846;
    --ca-graTexDisTra: #ffffeb1a;
    --ca-graBacPriTra: #fcfcfc08;
    --ca-graBacSecTra: #ffffeb1a;
    --ca-graBacTerTra: rgba(255,252,235,.304);
    --c-graBacPri: #202020;
    --c-graBacSec: #30302e;
    --c-graBacTer: #5f5e59;
    --c-graBacEle: #2c2c2b;
    --ca-graBorPriTra: #ffffeb1a;
    --ca-graBorSecTra: rgba(255,255,243,.082);
    --c-graBorPri: #30302e;
    --c-graBorSec: #2c2c2b;
    --c-graBorStr: #5f5e59;
    --c-graIcoPri: #f0efed;
    --c-graIcoTer: #5f5e59;
    --c-graIcoDis: #494846;
    --ca-oraTexDisTra: rgba(255,147,75,.278);
    --c-oraTexPri: #fbebde;
    --c-oraTexTer: #88522f;
    --c-oraTexDis: #53361f;
    --ca-oraBacPriTra: rgba(254,139,71,.043);
    --ca-oraBacSecTra: rgba(255,147,75,.278);
    --ca-oraBacTerTra: rgba(255,143,71,.482);
    --c-oraBacPri: #231e1b;
    --c-oraBacSec: #53361f;
    --c-oraBacTer: #88522f;
    --c-oraBacEle: #3d2a1d;
    --ca-oraBorPriTra: rgba(255,147,75,.278);
    --ca-oraBorSecTra: rgba(255,134,51,.156);
    --c-oraBorPri: #53361f;
    --c-oraBorSec: #3d2a1d;
    --c-oraBorStr: #88522f;
    --c-oraIcoPri: #fbebde;
    --c-oraIcoSec: #cba27d;
    --c-oraIcoTer: #d27b2d;
    --c-oraIcoDis: #6a4222;
    --ca-pinTexDisTra: #ff67b13b;
    --c-pinTexPri: #fae9f1;
    --c-pinTexTer: #7b4760;
    --c-pinTexDis: #4e2b3c;
    --ca-pinBacPriTra: rgba(255,78,149,.056);
    --ca-pinBacSecTra: #ff67b13b;
    --ca-pinBacTerTra: rgba(255,133,192,.426);
    --c-pinBacPri: #261c20;
    --c-pinBacSec: #4e2b3c;
    --c-pinBacTer: #7b4760;
    --c-pinBacEle: #3f2631;
    --ca-pinBorPriTra: #ff67b13b;
    --ca-pinBorSecTra: rgba(255,104,171,.164);
    --c-pinBorPri: #4e2b3c;
    --c-pinBorSec: #3f2631;
    --c-pinBorStr: #7b4760;
    --c-pinIcoPri: #fae9f1;
    --c-pinIcoSec: #c897ad;
    --c-pinIcoTer: #c14c8a;
    --c-pinIcoDis: #68354e;
    --ca-teaTexDisTra: #00cdf533;
    --c-teaTexPri: #e0f3f7;
    --c-teaTexTer: #226471;
    --c-teaTexDis: #143d45;
    --ca-teaBacPriTra: rgba(0,126,164,.079);
    --ca-teaBacSecTra: #00cdf533;
    --ca-teaBacTerTra: rgba(49,221,255,.382);
    --c-teaBacPri: #172124;
    --c-teaBacSec: #143d45;
    --c-teaBacTer: #226471;
    --c-teaBacEle: #193439;
    --ca-teaBorPriTra: #00cdf533;
    --ca-teaBorSecTra: rgba(25,219,255,.138);
    --c-teaBorPri: #143d45;
    --c-teaBorSec: #193439;
    --c-teaBorStr: #226471;
    --c-teaIcoPri: #e0f3f7;
    --c-teaIcoSec: #7eb6c2;
    --c-teaIcoTer: #2c8b9e;
    --c-teaIcoDis: #18505b;
    --ca-purTexDisTra: #c87dff33;
    --c-purTexPri: #f3ebf9;
    --c-purTexTer: #674d7b;
    --c-purTexDis: #3c2d47;
    --ca-purBacPriTra: rgba(196,101,253,.052);
    --ca-purBacSecTra: #c87dff33;
    --ca-purBacTerTra: rgba(208,147,255,.426);
    --c-purBacPri: #221d25;
    --c-purBacSec: #3c2d47;
    --c-purBacTer: #674d7b;
    --c-purBacEle: #36293f;
    --ca-purBorPriTra: #c87dff33;
    --ca-purBorSecTra: rgba(201,122,255,.164);
    --c-purBorPri: #3c2d47;
    --c-purBorSec: #36293f;
    --c-purBorStr: #674d7b;
    --c-purIcoPri: #f3ebf9;
    --c-purIcoTer: #9a6bb4;
    --c-purIcoDis: #553b69;
    --ca-greTexDisTra: rgba(108,255,172,.156);
    --c-greTexPri: #e8f1ec;
    --c-greTexTer: #37674c;
    --c-greTexDis: #263d30;
    --ca-greBacPriTra: rgba(83,255,140,.034);
    --ca-greBacSecTra: rgba(108,255,172,.156);
    --ca-greBacTerTra: rgba(113,255,175,.339);
    --c-greBacPri: #1b211d;
    --c-greBacSec: #263d30;
    --c-greBacTer: #37674c;
    --c-greBacEle: #24342b;
    --ca-greBorPriTra: rgba(108,255,172,.156);
    --ca-greBorSecTra: rgba(119,255,179,.117);
    --c-greBorPri: #263d30;
    --c-greBorSec: #24342b;
    --c-greBorStr: #37674c;
    --c-greIcoPri: #e8f1ec;
    --c-greIcoSec: #8bb79d;
    --c-greIcoTer: #50946e;
    --c-greIcoDis: #2a533c;
    --ca-broTexDisTra: rgba(255,177,129,.191);
    --c-broTexPri: #f5ede9;
    --c-broTexTer: #6d5340;
    --c-broTexDis: #45362d;
    --ca-broBacPriTra: hsla(23,97%,69%,.052);
    --ca-broBacSecTra: rgba(255,177,129,.191);
    --ca-broBacTerTra: rgba(255,184,132,.365);
    --c-broBacPri: #25201d;
    --c-broBacSec: #45362d;
    --c-broBacTer: #6d5340;
    --c-broBacEle: #382d26;
    --ca-broBorPriTra: rgba(255,177,129,.191);
    --ca-broBorSecTra: rgba(255,174,122,.134);
    --c-broBorPri: #45362d;
    --c-broBorSec: #382d26;
    --c-broBorStr: #6d5340;
    --c-broIcoPri: #f5ede9;
    --c-broIcoSec: #bca290;
    --c-broIcoTer: #9f765a;
    --c-broIcoDis: #584437;
    --c-texPri: #f0efed;
    --c-texSec: #ada9a3;
    --c-texTer: #7d7a75;
    --c-texDis: #494846;
    --ca-texDisTra: #ffffeb1a;
    --c-icoPri: #e6e5e3;
    --c-icoSec: #ada9a3;
    --c-icoTer: #7d7a75;
    --c-icoDis: #494846;
    --c-icoAccPri: #8e8b86;
    --c-borPri: #30302e;
    --c-borSec: #2c2c2b;
    --c-borStr: #5f5e59;
    --ca-borPriTra: #ffffeb1a;
    --ca-borSecTra: rgba(255,255,243,.082);
    --c-bacPri: #191919;
    --c-bacSec: #202020;
    --c-bacTer: #30302e;
    --c-bacEle: #202020;
    --c-bacAccPri: #30302e;
    --ca-bacSecTra: #fcfcfc08;
    --cd-bacEleTra: #fcfcfc08;
    --ca-bacTerTra: rgba(255,255,243,.082);
    --c-priBla: #fff;
    --ca-darTexCol: hsla(0,0%,100%,.565);
    --cl-pagTitPlaTexCol: #373737;
    --ca-ligDivCol: hsla(0,0%,100%,.055);
    --ca-regDivCol: hsla(0,0%,100%,.095);
    --ca-darDivCol: #ffffff21;
    --cl-chaLegIteHidCol: #373737;
    --cl-chaInaLegNavCol: #252525;
    --ca-chaRowRigCol: hsla(0,0%,100%,.283);
    --c-tabDivCol: #2f2f2f;
    --ca-tabHomDivCol: #ffffff21;
    --c-tabFroFilDivCol: #464646;
    --c-tabFroSelDivCol: #2f3a48;
    --c-tabLigDivCol: #252525;
    --ca-larPopBor: #ffffff21;
    --ca-larShiCol: hsla(0,0%,100%,.055);
    --cl-linDecCol: #373737;
    --ca-opaLinDecCol: hsla(0,0%,100%,.283);
    --c-regEmoCol: #fff;
    --c-sidTexCol: #9b9b9b;
    --c-sidSecCol: #9b9b9b;
    --ca-sidIteSelBac: hsla(0,0%,100%,.055);
    --ca-conBacTra: #f1f1ef00;
    --ca-carConBacTra: #e3e2e000;
    --ca-oveSmo: #0f0f0fcc;
    --c-calIteBac: #2f2f2f;
    --cl-calIteHovBac: #373737;
    --c-popBac: #252525;
    --ca-popWaxPapBac: #202020e6;
    --cd-boaIteDefBac: hsla(0,0%,100%,.055);
    --cd-colGalPreCarBac: hsla(0,0%,100%,.055);
    --ca-colGalPreCarCov: #ffffff08;
    --cl-colUnsDepArr: #7f7f7f;
    --ca-colValDepArr: #e8a225cc;
    --ca-modUndBac: #0f0f0fcc;
    --ca-altTexPopBac: #252525f7;
    --ca-filGroBac: #ffffff08;
    --c-beiBanBac: #373c3f;
    --c-darBanBac: #373c3f;
    --c-keyDonBarBac: #27292b;
    --c-keyActBarBac: #272829;
    --ca-UIUseAvaInnOut: #1919194d;
    --c-UIUseAvaSelBor: #9b9b9b;
    --c-UIUseAvaIdlOut: #555553;
    --cl-susUIUseAvaBac: #373737;
    --cl-selBorUns: #5a5a5a;
    --cd-codBloBac: #ffffff08;
    --c-codStiBloBac: #272727;
    --c-codBloButBac: #252525;
    --cd-tabHeaRowColBac: #ffffff08;
    --cd-embPlaBac: #ffffff08;
    --ca-defBadBac: hsla(0,0%,100%,.055);
    --ca-inpBac: hsla(0,0%,100%,.055);
    --ca-tokInpMenIteBac: #ffffff08;
    --cl-hovDisBac: #202020;
    --c-hovMarDisBac: #202020;
    --c-selMarDisBac: #252525;
    --cl-focDisBac: #252525;
    --ca-focDisInpBac: hsla(0,0%,100%,.055);
    --ca-filPilBac: #2383e212;
    --ca-butHovBac: hsla(0,0%,100%,.055);
    --ca-tabRowHovBac: hsla(0,0%,100%,.055);
    --ca-outButHovBac: hsla(0,0%,100%,.055);
    --cl-outButPreBac: #252525;
    --ca-butPreBac: #ffffff08;
    --ca-butPreBacLig: #ffffff08;
    --cl-carBac: #252525;
    --cl-carHovBac: #2f2f2f;
    --cl-carPreBac: #252525;
    --cd-bluButBac: #337ea9d1;
    --c-whi: #000;
    --c-whiButBac: #252525;
    --c-assCorButBac: #d3d3d3;
    --ca-assTinActButBac: hsla(0,0%,100%,.055);
    --ca-assTinActButBacHov: #ffffff21;
    --ca-assTinActButBacPre: hsla(0,0%,100%,.095);
    --cd-redButBac: #de5551cc;
    --cd-redButHovBac: #cf4846cc;
    --cd-redButPreBac: #c13a3bcc;
    --c-graButBac: #7f7f7f;
    --c-graButHovBac: #737373;
    --c-graButPreBac: #676767;
    --ca-ligGraButBac: #ffffff08;
    --ca-ligGraButHovBac: hsla(0,0%,100%,.055);
    --ca-ligGraButPreBac: hsla(0,0%,100%,.095);
    --c-butGroBac: #2f2f2f;
    --ca-uncCheHovBac: hsla(0,0%,100%,.055);
    --ca-uncChePreBac: #ffffff21;
    --c-whiButHovBac: #2f2f2f;
    --c-whiButPreBac: #252525;
    --ca-outRedButBor: #de555373;
    --ca-outButBor: #ffffff21;
    --ca-filGroBor: hsla(0,0%,100%,.055);
    --ca-radButBor: #ffffff21;
    --c-timBac: #191919;
    --c-peeTimBac: #202020;
    --cd-timDarBac: #ffffff08;
    --cd-timRed: #de5551cc;
    --c-topFav: #ca984d;
    --cd-calTodBac: #de5550e8;
    --cl-homEmpStaPreJoiButBac: #252525;
    --cl-homEmpStaPreCalInd: #2f2f2f;
    --cl-homEmpStaPreVerDiv: #2f2f2f;
    --c-homScrButBacBas: #252525;
    --cl-homScrButBacPre: #2f2f2f;
    --ca-homTilBac: #202020e6;
    --ca-homCarCovPhoBas: #ffffff08;
    --cd-homCarBacBas: #ffffff0d;
    --cd-homCarBacHov: #ffffff0d;
    --ca-homCarBacPre: #ffffff12;
    --cd-homCarTemCarBacBas: #ffffff0d;
    --cd-homCarTemCarBacHov: #ffffff0d;
    --ca-homCarTemCarBacPre: #ffffff12;
    --cl-perHomBacPho: #191919;
    --cd-impOptButBac: #ffffff08;
    --c-impOptIcoWraBac: #202020;
    --c-sitPagPreWinChrBar: #141414;
    --c-seoPreTit: #9ebdf4;
    --c-sitBuiBac: #1f1f1f;
    --cl-sitInsSte: #373737;
    --cl-selLigGra30: #151515;
    --cl-selLigGra50: #191919;
    --cl-selLigGra100: #202020;
    --cl-selLigGra200: #252525;
    --cl-selLigGra300: #2f2f2f;
    --cl-selLigGra400: #373737;
    --cl-selLigGra500: #5a5a5a;
    --cl-selLigGra700: #9b9b9b;
    --ca-legDefSelCol: hsla(0,0%,100%,.095);
    --ca-legRedSelCol: #ff736980;
    --ca-equTemPlaBac: #ffffff08;
    --c-simTabSelBor: #379ad3;
    --c-onbBac: #202020;
    --c-onbPreBac: #202020;
    --cd-errTex: #de5550e8;
    --cd-ligErrTex: #de555299;
    --cl-aiPurCol: #9d67d2;
    --c-staTokBacGre: #0096581a;
    --c-staTokBacYel: #eac5671a;
    --cl-finHigMatUnsBac: #444137;
    --ca-pilBacYel: #a269321a;
    --ca-pilBacBlu: #337ea914;
    --ca-pilBacRed: #de55581a;
    --cl-pilBacWhi: #202020;
    --cd-pilBorYel: #98663026;
    --c-pilBorRed: #362422;
    --ca-pilBorWhi: hsla(0,0%,100%,.055);
    --c-pilIcoRed: #de5550;
    --cl-pilIcoWhi: #7f7f7f;
    --ca-pilOutYel: #fab14380;
    --ca-pilOutBlu: #2383e259;
    --ca-pilOutRed: #de555373;
    --cl-pilOutWhi: #1c1c1c;
    --c-pilHovBacYel: #392e1e;
    --c-pilHovBacRed: #362422;
    --cl-pilHovBorYel: #392e1e;
    --ca-pilHovBorRed: #de555540;
    --ca-pilHovBorWhi: hsla(0,0%,100%,.095);
    --cd-pilHovTexYel: #ffffffde;
    --c-pilHovTexRed: #de5550;
    --c-pilHovTexWhi: #7f7f7f;
    --ca-pilPreBacYel: #b3813d33;
    --ca-pilPreBacBlu: #2383e233;
    --ca-pilPreBacRed: #de555540;
    --cl-pilPreBorYel: #392e1e;
    --cl-pilPreBorRed: #522e2a;
    --ca-pilPreBorWhi: hsla(0,0%,100%,.095);
    --cd-pilSelBacYel: #98663026;
    --cl-pilSelBacBlu: #1d282e;
    --c-pilSelBacRed: #362422;
    --cl-pilSelBacWhi: #373737;
    --cl-pilSelBorBlu: #2383e2;
    --ca-pilSelBorRed: #de555299;
    --ca-pilSelBorWhi: #ffffff2e;
    --cl-pilSelHovBacYel: #392e1e;
    --ca-pilSelHovBacRed: #de555540;
    --ca-pilSelHovBacWhi: #0000001a;
    --cl-pilSelHovBorBlu: #2383e2;
    --ca-pilSelHovBorRed: #de555299;
    --ca-pilSelHovBorWhi: #ffffff2e;
    --c-pilSelPreBacYel: #564328;
    --ca-pilSelPreBacBlu: #2383e259;
    --cl-pilSelPreBacRed: #522e2a;
    --ca-pilSelPreBacWhi: #0003;
    --cl-pilSelPreBorBlu: #2383e2;
    --ca-pilSelPreBorRed: #de555299;
    --ca-pilSelPreBorWhi: #ffffff2e;
    --cl-marTopTexHovWhi: #5a5a5a;
    --c-marTopTexPreWhi: #7f7f7f;
    --c-marTopTexDroVieAllRed: #de5550;
    --c-marTopTexDroVieAllYel: #cb912f;
    --c-marTopTexDroVieAllWhi: #7f7f7f;
    --cl-marEdiIllRed: #fdebec;
    --cl-marEdiIllYel: #fdecc8;
    --cl-marEdiIllBlu: #e0eefb;
    --cl-marEdiIllWhi: #fff;
    --cl-marEdiIcoWhi: #373737;
    --cd-marEdiBorRed: #ffffff08;
    --cd-marEdiBorYel: #ffffff08;
    --cd-marEdiBorBlu: #ffffff08;
    --ca-marEdiBorWhi: hsla(0,0%,100%,.055);
    --ca-marEdiBorHovRed: #ffffff08;
    --ca-marEdiBorHovYel: #ffffff08;
    --cd-marEdiBorHovBlu: #ffffff08;
    --ca-marEdiBorHovWhi: hsla(0,0%,100%,.055);
    --ca-marEdiBorPreRed: #ffffff08;
    --ca-marEdiBorPreYel: #ffffff08;
    --ca-marEdiBorPreBlu: #ffffff08;
    --ca-marEdiBorPreWhi: hsla(0,0%,100%,.055);
    --ca-marEdiBacRed: #de555540;
    --ca-marEdiBacYel: #b3813d33;
    --ca-marEdiBacBlu: #2383e224;
    --ca-marEdiBacWhi: hsla(0,0%,100%,.055);
    --c-marEdiBacHovRed: #522e2a;
    --c-marEdiBacHovYel: #564328;
    --cd-marEdiBacHovBlu: #2383e233;
    --ca-marEdiBacHovWhi: hsla(0,0%,100%,.095);
    --cl-marEdiBacPreRed: #362422;
    --cl-marEdiBacPreYel: #392e1e;
    --cd-marEdiBacPreBlu: #2383e212;
    --ca-marEdiBacPreWhi: #ffffff08;
    --c-marEdiIllRed2: #f64932;
    --c-marEdiIllYel2: #f64932;
    --c-marEdiIllBlu2: #f64932;
    --c-marEdiIllWhi2: #f64932;
    --c-creProInRevTex: #fde6d9;
    --cd-zipImpBor: #2383e2e6;
    --cd-zipImpBac: #ffffff08;
    --c-butBoxSha: inset 0 0 0 1px #0f0f0f33,0 1px 2px #0f0f0f1a;
    --c-conBubSha: 0 0 0 1.5px #ffffff12;
    --c-eleButBoxSha: inset 0 0 0 1px #0f0f0f33,0 2px 4px #0f0f0f1a;
    --c-avaBoxSha: 0 2px 4px #0f0f0f33;
    --c-butBluFocRin: 0px 0px 0px 2px #191919,0px 0px 0px 4px #2383e2,0px 0px 0px 6px #191919;
    --cd-inpBoxSha: hsla(0,0%,100%,.075) 0 0 0 1px;
    --c-sidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px #ffffff1a;
    --c-sidBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px #2a2a2a;
    --c-secSidDifSha: 0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
    --c-secSidResBoxSha: inset calc(var(--direction, 1)*-2px) 0px 0px 0px hsla(0,0%,100%,.095);
    --c-secSidBorBoxSha: inset calc(var(--direction, 1)*-1px) 0px 0px 0px hsla(0,0%,100%,.095);
    --c-topAndSha: #0f0f0f33 0px 2px 4px,#0f0f0f4d 0px 2px 8px;
    --c-topAndShaCol: #0f0f0f33 0px 1px 0px,#0000 0px 0px 0px;
    --c-homScrButSha: 0 0 0 1px #0f0f0f33,0 2px 4px #0f0f0f33;
    --c-homShaCarBas: unset;
    --c-homShaCarHov: inset 0 0 0 1px #ffffff0d;
    --c-homShaTemCarBas: unset;
    --c-homShaTemCarHov: inset 0 0 0 1px #ffffff0d;
    --c-sha2XS: 0 0 0 1px hsla(0,0%,100%,.095);
    --c-shaXS: 0 0 0 1px #30302e,0px 2px 4px 0 #00000014;
    --c-shaSM: 0 0 0 1px #30302e,0px 4px 12px -2px #00000029;
    --c-shaSMThiOut: 0 0 0 2px #30302e,0px 4px 12px -2px #00000029;
    --c-shaMD: 0 0 0 1px #30302e,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
    --c-shaMDPriOut: inset 0 0 0 1px #ffffeb1a,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
    --c-shaMDThiOut: 0 0 0 2px #30302e,0px 14px 28px -6px #0003,0px 2px 4px -1px #0000001f;
    --c-shaLG: 0 0 0 1px #30302e,0px 24px 48px -8px #0000007a,0px 4px 12px -1px #0000003d;
    --c-shaBasMd: 0px 8px 12px 0px #19191966,0px 2px 6px 0px #19191966;
    --c-shaBasLg: 0px 20px 24px 0px #19191966,0px 5px 8px 0px #19191966;
    --c-shaBasSm: 0px 4px 12px 0px #19191966;
    --c-shaBasDif: 0px 12px 32px 0px #19191966;
    --c-shaBasScr: 0px 24px 48px 0px rgba(25,25,25,.639),0px 4px 12px 0px #1919198f;
    --c-shaOutMd: 0px 8px 12px 0px #19191966,0px 2px 6px 0px #19191966,inset 0px 0px 0px 1px hsla(0,0%,99%,.074);
    --c-shaOutSm: 0px 4px 12px 0px #19191966,inset 0px 0px 0px 1px hsla(0,0%,99%,.074);
    --c-shaOutDif: 0px 12px 32px 0px #19191966,inset 0px 0px 0px 1px hsla(0,0%,99%,.074);
    --c-shaOutLg: 0px 20px 24px 0px #19191966,0px 5px 8px 0px #19191966,inset 0px 0px 0px 1px hsla(0,0%,99%,.074);
    --c-shaOutScr: 0px 24px 48px 0px rgba(25,25,25,.639),0px 4px 12px 0px #1919198f,inset 0px 0px 0px 1px hsla(0,0%,99%,.074);
    --cd-aiChaButSel: #ffffff0a;
    --cd-aiChaButSelHov: #ffffff0f;
    --cd-aiChaButPre: #ffffff1f;
    --ca-staHov: hsla(0,0%,100%,.055);
    --ca-staPre: #ffffff21;
    --ca-glaPag: #191919cc;
    --ca-glaWas: #202020cc;
    --cl-ligGraBanBac: #32302c;
    --ca-forFilProUplButHovBor: #37352f4d;
    --ca-forFilProDroBg: #27344aa3;
    --ca-medPicDroBg: #27344aa3;
    --c-froColDivShaBacFil: linear-gradient(90deg,#78818726,#7881871a,#0000);
    --c-froColDivShaBac: linear-gradient(90deg,#78818759,#78818733,#0000);
    --ca-swiButTeaBg: #7881874d;
    --ca-swiTogDesTraBg: #78818766;
    --ca-swiTogDesTraBgVar: #caccce4d
}
